.container {
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#btn {
    margin: 10px;
    padding: 10px;
}

#btn2 {
    margin: 10px;
    padding: 10px;
}

.light {
    background-color: #F1F1F1;
}

.dark {
    background-color: #292C35;
}